<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>患者预约系统</title>

    <!-- Bootstrap -->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap-theme.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
	 td {height:60px;}
	</style>
  </head>
  <body>
  <div class="container">

    <include file="head" />
<div class="table-responsive">
<table class="table table-bordered">
  <thead>
  <tr>
  <th class="col-lg-1">id</th>
  <th class="col-lg-1">姓名</th>
  <th class="col-lg-1">性别</th>
  <th class="col-lg-1">年龄</th>
  <th class="col-lg-1">预约医院</th>
  <th class="col-lg-1">提交申请</th>
  <th class="col-lg-1">预约时间</th>
  <th class="col-lg-2">手机号码</th>
  <th class="col-lg-2">病情描述</th>
  <th class="col-lg-1">操作</th>
  </tr>
  </thead>
  <tbody>
<volist name='table' id='vo'>
  <tr>
  <td class="col-lg-1">{$vo.id}</td>
  <td class="col-lg-1">{$vo.username}</td>
  <td class="col-lg-1">{$vo.sex}</td>
  <td class="col-lg-1">{$vo.age}</td>
  <td class="col-lg-1">{$vo.hospital}</td>
  <td class="col-lg-1">{$vo.addtime|date="Y m d H:i:s",###}</td>
  <td class="col-lg-1">{$vo.odertime}</td>
  <td class="col-lg-2">{$vo.phone}</td>
  <td class="col-lg-2">{$vo.message}</td>
  <td class="col-lg-1">
  <a href="__URL__/modify/id/{$vo.id}" target="_blank">
  <span class="glyphicon glyphicon-pencil" style="width:25px;height:25px;margin-top:10px;text-align:center;"></span>
  </a>　
  <a href="__URL__/del/id/{$vo.id}">
  <span class="glyphicon glyphicon-trash" style="width:25px;height:25px;margin-top:10px;text-align:center;"></span>
  </a>
  </td>
  </tr>
</volist>
  </tbody>
</table>
</div>
<center>{$page}</center>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
  </body>
</html>